.cards img {
  width: 100%;
  border-radius: 5px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 600px;
}

h3 {
  text-transform: capitalize;
  font-family: fantasy;
  letter-spacing: 2px;
}

p {
  color: rgb(79, 78, 78);
}

p::first-letter {
  text-transform: uppercase;
}

.price {
  color: goldenrod;
}
